h1{
  background-color: blue;  
  color: white;
}
.heading{
    background-color: tomato;
    color: white;
    /* box-shadow: 0 0 10px black; */
}
h2{
    background: linear-gradient(90deg,red,blue,green,0.02);
}
 