body{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url(../SRC/HVAC.jpg);
        background-repeat: repeat-x;
        background-size: cover;
    }
    img {
        height: 50px;
        width: 50px;
        margin: 10px;
    }
    nav{
        display: flex;
        padding: 10PX;
        justify-content: space-between;
        align-items: center;

    }
    .div1{
        text-align: right;
    }
    .div1 ul li{
        list-style: none;
        display: inline-block;
        /* padding: 18px 15px; */
    position: sticky;
    top: 0;
    
    }
    .div1 ul li a{
        color: whitesmoke;
        text-decoration: none;
        font-size: 20px;
        font-family: 'STIX Two Math', serif;

    }
    i{
        padding: 10px;
    }
    .serv1 a{
        display: block;
    }
    .serv1{
        display: inline-block;
    }
    .servlist1{
        position: absolute;
         padding: 10px; 
        display: none;
        width: 180px;
        
    
    }
    .serv1:hover .servlist1{
        display: block;
        text-align: center;
        background: bisque;
        border-radius: 20px;
        box-shadow: rgb(161, 145, 125);
    }
    




    